extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner SKY SWAN  
    div.Message
      div.Title
        h3 LET'S FIND YOUR NEXT ADVENTURE 
        h1 
      span.Details 
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!
